@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-Poppins:"Poppins";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $font-family-Poppins;
}

html {
    scroll-behavior: smooth;
}

.navbar-portfolio {
    position: fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    z-index: 1000;
    transition: all 1.5s;

    img {
        width: 15rem;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        margin-right: 2rem;
        align-items: center;

        a {
            color: rgb(0, 0, 0);
            font-size: 1.2rem;
            text-decoration: none;
        }

        i {
            color: rgb(0, 0, 0);
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}


.container-header {
    min-height: 60rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;

    .description-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30rem;
        color: rgb(49, 49, 49);

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            background-color: rgb(27, 29, 64);
            padding: 1rem;
            color: #fff;
            width: 10rem;
            gap: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    img {
        width: 30rem;
        clip-path: circle(40%);
    }
}



.container-main {
    height: auto;
    width: 100%;


    .info-sections {
        text-align: center;

        h1 {
            font-size: 2.5rem;
        }

        p {
            color: #212121;
        }
    }

    .container-about {
        width: 100%;
        min-height: 55rem;
        transition: all 1.5s;

        .group-description-about-wrapper {
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 2rem;

            .group-description-about:nth-child(1) {

                img {
                    border-radius: 1rem;
                    margin-left: 1rem;
                }
            }

            .group-description-about:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                .btn-download {
                    color: #fff;
                    text-decoration: none;
                    background-color: rgb(27, 29, 64);
                    padding: 1rem;
                    width: 12rem;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    transition: all .4s ease;

                    &:hover {
                        transform: scale(.8);
                        color: rgb(27, 29, 64);
                        background-color: #fff;
                        border: solid 1px rgb(27, 29, 64);
                    }
                }
            }
        }
    }

    .container-skills {
        width: 100%;
        min-height: 35rem;
        transition: all 1.5s;

        .card-skill-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 5rem;
            flex-direction: column;
            gap: 5rem;

            .card-skill {
                background-color: rgb(27, 29, 64);
                width: 40rem;
                height: 3.5rem;
                padding: 1rem;
                color: #fff;
                overflow: hidden;
                border-radius: 1rem;
                transition: all .7s ease;

                h2 {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    transition: all .7s ease;

                    .bi {
                        cursor: pointer;
                    }
                }

                .group-skills {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 3rem;

                    h3 {
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;

                        gap: 1rem;

                        img {
                            filter: grayscale(100%);
                        }
                    }
                }

                &.heigthCard {
                    height: 25rem;
                }
            }

        }
    }

    .container-portfolio {
        min-height: 60rem;
        width: 100%;
        transition: all 1.5s;

        .carousel {

            .carousel-indicators {
                button {
                    border-radius: 50%;
                    width: 1rem;
                    height: 1rem;
                }
            }

            .carousel-inner {
                .carousel-item {
                    background-color: #000000;
                    position: relative;
                    overflow: hidden;

                    .img-backround {
                        height: 100%;
                        opacity: .4;
                        filter: blur(3px);
                    }
                }

                .carousel-caption {
                    margin-bottom: 5rem;

                    .container-linguagens-utilizadas {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        align-items: center;
                        justify-content: center;

                        a {
                            text-decoration: none;
                            background-color: rgb(27, 29, 64);
                            color: #fff;
                            padding: 1rem;
                            width: 12rem;
                            font-size: 1rem;
                            border-top-left-radius: 1rem;
                            border-bottom-right-radius: 1rem;

                            i {
                                margin: 1rem;
                            }
                        }
                    }

                }
            }
        }
    }

    .container-contact {
        min-height: 45rem;
        width: 100%;
        transition: all 1.5s;

        .group-contact-wrapper {
            display: flex;
            align-items: center;
            margin-top: 6rem;
            justify-content: space-around;

            .group-contact {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .contact {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    border-bottom: solid 2px rgb(27, 29, 64);

                    i {
                        font-size: 3rem;
                        color: rgb(27, 29, 64);
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .group-form-input {
                    display: flex;
                    position: relative;
                    gap: 1rem;

                    .group-input {
                        position: relative;
                    }

                    input {
                        outline: none;
                        border: none;
                        padding: 2rem;
                        background-color: #9cd1e8;
                        border-radius: 1rem;
                    }

                    textarea {
                        background-color: #9cd1e8;
                        border: none;
                        outline: none;
                        padding: 2rem;
                        width: 100%;
                        border-radius: .4rem;
                        resize: none;
                    }

                    label {
                        position: absolute;
                        left: 2rem;
                        top: .5rem;
                    }

                    .btn_form {
                        border: none;
                        border-radius: .5rem;
                        padding: 1rem;
                        background-color: rgb(27, 29, 64);
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        transition: all .4s ease;

                        &:hover {
                            background-color: #fff;
                            color: rgb(27, 29, 64);
                            border: solid 1px rgb(27, 29, 64);
                        }
                    }
                }
            }

        }
    }
}


.container-footer {
    width: 100%;
    min-height: 20rem;
    background-color: rgb(27, 29, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1.5s;

    .group-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        width: 100%;
        height: 100%;

        .group-footer {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: #fff;
            }

            &:nth-child(1) {
                font-size: 1.5rem;
            }

            &:nth-child(2) {
                flex-direction: row;
                gap: 2rem;
            }

            &:nth-child(3) {
                font-size: 1.5rem;
                flex-direction: row;
                gap: 2rem;


                a {
                    display: block;
                    transition: all .2s;

                    &:hover {
                        transform: scale(1.5);
                    }
                }


            }


        }
    }

}

// DARK
.navbar-portfolio.dark{
    background-color: #000000;

    .navigation{
        a,i{
        color: #fff;
        }
    }
}

.container-header.dark{
    background-color: #000000;

    .description-header{
        color: #fff;
    }
}

.container-main{
    
    .container-about.dark{
        background-color: #000000;

        .info-sections{
           h1,p{
            color: #fff;
           }
        }

        .group-description-about-wrapper{
            color: #fff;
        }
    }

    .container-skills.dark{
        background-color: #000000;
        .info-sections{
            h1,p{
                color: #fff;
            }
        }
    }

    .container-portfolio.dark{
        background-color: #000000;

        .info-sections{
            h1,p{
                color: #fff;
            }
        }
    }

    .container-contact.dark{
        background-color: #000000;
        .info-sections{
            h1,p{
                color: #fff;
            }
        }
        .group-contact-wrapper{
            color: #fff;

            .contact{
                i{
                    color: #fff;
                }
                color: #fff;
                border-bottom: solid 2px #fff;
            }
            .group-form-input{
                color: #000000;
            }
        }
    }
}
